	<header>
		<div class="hero">
			<section class="layout">
				<div class="branding"><a href="/"><img src="/images/misc/parsclick.svg" alt="parsclick meetups"></a></div>
			</section>
		</div>
		<div class="navigation">
			<section class="layout">
				<ul class="nav">
					<li><a href="/"><i class="fa fa-home"></i>Home</a></li>
					<li><a href="/speakers"><i class="fa fa-user"></i>Speakers</a></li>
				</ul>
			</section>
		</div>
	</header>