<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	  <!-- Latest compiled and minified CSS -->
	  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  <ul>
	  <% for(var i=0; i<users.length; i++) { %>
	    <li><%= users[i] %></li>
	  <% } %>
  </ul>
  </body>
</html>
