<!DOCTYPE html>
<html>
  <head><% include partials/template/head.ejs %></head>
  <body>
  <% include partials/template/header.ejs %>

  <section class="layout">
	  <div class="primary">
		  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium at, cumque distinctio doloremque ea eos
		       exercitationem itaque laborum, nam natus neque odit omnis possimus quia tempora tempore vitae voluptate
		       voluptatibus.
		  </div>
	  </div>
	  <aside class="secondary">
		  <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi distinctio error, facilis neque quasi rerum
		       saepe velit! Accusamus blanditiis cupiditate debitis eaque iure obcaecati pariatur quaerat ratione repellat
		       sapiente, unde.
		  </div>
	  </aside>
  </section>

  <% include partials/template/footer.ejs %>
  <% include partials/template/jsdefault.ejs %>
  </body>
</html>
