	<footer>
		<section class="layout">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus commodi, consequatur dolore ducimus eligendi
			   facilis ipsam magni molestiae nisi non odit officia placeat qui repellendus reprehenderit sequi, voluptatibus.
			   Ad, culpa!</p>
		</section>
	</footer>